/*----CSS DOCUMENT----*/

html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}

/* Begin Fonts */
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700 !important;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Roboto";
}
.navbar-nav > li > a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* End Fonts */

section {
	position: relative;
}

.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}

.devider {
    width: 100%;
    height: 23px;
    background: url('../images/devider.png') no-repeat center center;
    margin: 5px 0 10px;
}

/*------HEADER------*/

#main-navbar {
	background: #1C2541; 
}

.navbar-brand {
	background-repeat: no-repeat;
	background-position: left center;
	width: 135px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand {
	background-image: url(../images/logo.png);
}
.navbar-shrink .navbar-brand {
	background-image: url(../images/logo.png);
}
.navbar-transparent .navbar-brand {
	background-image: url(../images/logo.png);
}
.navbar-inverse .navbar-brand{
	background-image: url(../images/logo.png);
}

.navbar {
	margin: 0;
	border: none !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-right {
	padding-top: 6px; 

}

.navbar-nav li a {
	color: #D4E3FD !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
	
}

.navbar-nav li a:hover, a:hover, a:active, a:visited{
	color: #FFFFFF !important;
}


/*------SECTION INTRO------*/

#carousel-intro { 
	background-image: url(../images/intro-bg.jpg);
	height: 100%;
}

#carousel-intro .container {
	height: 100%;
}
#carousel-intro .caption {
	position: relative;
	top: 50%;
	margin-top: -70px;
}
#carousel-intro .caption h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 60px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#carousel-intro .caption p {
	letter-spacing: 2px;
	font-size: 16px;
}




/* ===== Begin page header ===== */
.page-header {
	margin: 0 0 60px 0 ;
	padding: 0 ;
	border: none;
}
.page-header h2 {
	text-transform: uppercase;
}
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}
/* ===== End page header ===== */

/*-----SOBRE SECTION-----*/

.extra-space-l {
    width: 100%;
    height: 40px;
}

.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 3px solid #1C2541;
    background-color: transparent;
}

.progress .percent {
	position: relative;
	background-color: #222;
	padding: 7px;
	color: #FFF;
	top: -23px;
}
.progress .percent:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -4px;
	bottom: -4px;
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #222;
}
.progress-bar {
	font-size: 10px;
	line-height: 7px;
	text-align: right;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-label h6{
	margin-bottom: 10px;
	font-size: 14px;
}

.rotate-box-1 .rotate-box-icon {
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 25px;
    margin-top: 10px;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
    width: 45px;
    height: 45px;
    line-height: 22px;
    color: #000 !important;
    font-size: 18px;
}

.rotate-box-1 .rotate-box-info {
    padding-left: 70px;
}
/* ===== Begin contact ===== */
.footer {
	background-image: url(../images/map-bg.jpg); 
	}

.text-white { color: #FFF; 
	}

#contact-section .cover {
    background-color: rgba(5, 8, 11, 0.93);

}
.z-index{
	position:relative;
	z-index: 50;
}
#contact-section {
	position: relative;
}
#contact-section h4 {
	font-weight: 400;
}
#contact-section .cover {
	background-color: rgba(5, 8, 11, 0.93);
}
#contact-section .contact .contact-form {
	margin-bottom: 40px;
}
#contact-section .contact .contact-form h4 {
	margin-bottom: 25px;
}
#contact-section .contact .contact-form .input-lg {
	font-size: 14px;
}
#contact-section .contact .contact-form button {
	width: 100%;
	height: 40px;
}
#contact-section .contact .contact-form button:hover {
	color: #fff;
}
#contact-section .contact .form-control {
	background-color: rgba(255, 255, 255, 0.06);
	border-color: #2A2A2A;
}
#contact-section .contact .form-control:focus {
	background-color: #171717;
	box-shadow: none;
}
li, ol, ul {
    list-style: none;
}

ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0 ;
}
ul.contact-address li {
	padding: 0 0 20px;
	margin: 0;
}
ul.contact-address li:last-child {
	padding-bottom: 0;
}
ul.contact-address li i {
	margin-right: 10px;
}

/* ===== End contact ===== */


@media only screen and (max-width: 992px){

	.parallax {
	    background-attachment: scroll !important;
	    background-position: 50% 50% !important;
	    /* background-size: auto auto !important; */
	}

}

@media (max-width: 767px) {

	.navbar .container {
		padding-left: 35px;
		padding-right: 20px;
	}

	.navbar-nav li{
		background: #7FB2F0;
		border-bottom: 2px solid #4E7AC7; 
	}

	.navbar-nav li:hover{
		background: #B7D3F2; 
	}

}